@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #7b7b7b;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #383838;
	text-decoration: none;
}
a:hover, a:focus {
	color: #383838;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}




@media only screen and (max-width: 500px) {
	/* ====================== Restaurant Details ====================== */
	#breadcrumb {
	    padding: 10px 40px 16px;
	    list-style: none;
	    background-color: #eee;
	    font-size: 17px;
	    margin: 0;
	}

	.inside header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 50%;
	  position: fixed;
	  right: 0;
	  top: 0px;
	  width: 100%;
	}
	.inside #map {
	  background-color: #ccc;
	  height: 50%;
	  width: 100%;
	}
	.inside #footer {
	  bottom: 0;
	  /* position: absolute; */
	  width: 100%;
	}
	#restaurants-list li {
		width: 90%;
		padding: 3% 5% 3% 5%;
	}

	#restaurant-name {
	  color: #383838;
	  font-family: Arial,sans-serif;
	  font-size: 20pt;
	  font-weight: 200;
	  letter-spacing: 0;
	  margin: 15px 0 30px;
	  text-transform: uppercase;
	  line-height: 1.1;
	}
	#restaurant-img {
		width: 90%;
	}
	#restaurant-address {
	  font-size: 12pt;
	  margin: 10px 0px;
	}
	#restaurant-cuisine {
	  background-color: #333;
	  color: #ddd;
	  font-size: 12pt;
	  font-weight: 300;
	  letter-spacing: 10px;
	  margin: 0 0 20px;
	  padding: 2px 0;
	  text-align: center;
	  text-transform: uppercase;
		width: 90%;
	}
	#restaurant-container, #reviews-container {
	  border-bottom: 1px solid #d9d9d9;
	  border-top: 1px solid #fff;
	  padding: 12% 0px 30px 0px;
	  width: 100%;
	}
	#reviews-container {
	  padding: 2% 0px 30px 0px;
	}
	#reviews-container h2 {
	  color: #a5514a;
	  font-size: 24pt;
	  font-weight: 300;
	  letter-spacing: -1px;
	  padding-bottom: 1pt;
	}
	#reviews-list {
	  margin: 0;
	  padding: 0;
		width: 90%;
	}
	#reviews-list li {
	  background-color: #fff;
	  border: 2px solid #f3f3f3;
	  display: block;
	  list-style-type: none;
	  overflow: hidden;
	  padding: 5% 5% 5% 5%;
		margin: 2% 0% 2% 0%;
	  position: relative;
	}
	#reviews-list li p {
	  margin: 0 0 10px;
	}
	#restaurant-hours td {
	  color: #666;
	}
}


@media only screen and (max-width: 700px) {

	/* ====================== Restaurant Details ====================== */
	#breadcrumb {
	    padding: 10px 40px 16px;
	    list-style: none;
	    background-color: #eee;
	    font-size: 17px;
	    margin: 0;
	}

	.inside header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 50%;
	  position: fixed;
	  right: 0;
	  top: 0px;
	  width: 100%;
	}
	.inside #map {
	  background-color: #ccc;
	  height: 50%;
	  width: 100%;
	}
	.inside #footer {
	  bottom: 0;
	  /* position: absolute; */
	  width: 100%;
	}
	#restaurant-name {
	  color: #383838;
	  font-family: Arial,sans-serif;
	  font-size: 20pt;
	  font-weight: 200;
	  letter-spacing: 0;
	  margin: 15px 0 30px;
	  text-transform: uppercase;
	  line-height: 1.1;
	}
	#restaurant-img {
		width: 90%;
	}
	#restaurant-address {
	  font-size: 12pt;
	  margin: 10px 0px;
	}
	#restaurant-cuisine {
	  background-color: #333;
	  color: #ddd;
	  font-size: 12pt;
	  font-weight: 300;
	  letter-spacing: 10px;
	  margin: 0 0 20px;
	  padding: 2px 0;
	  text-align: center;
	  text-transform: uppercase;
		width: 90%;
	}
	#restaurant-container, #reviews-container {
	  border-bottom: 1px solid #d9d9d9;
	  border-top: 1px solid #fff;
	  padding: 12% 0px 30px 0px;
	  width: 100%;
	}
	#reviews-container {
	  padding: 2% 0px 30px 0px;
	}
	#reviews-container h2 {
	  color: #a5514a;
	  font-size: 24pt;
	  font-weight: 300;
	  letter-spacing: -1px;
	  padding-bottom: 1pt;
	}
	#reviews-list {
	  margin: 0;
	  padding: 0;
		width: 90%;
	}
	#reviews-list li {
	  background-color: #fff;
	  border: 2px solid #f3f3f3;
	  display: block;
	  list-style-type: none;
	  overflow: hidden;
	  padding: 5% 5% 5% 5%;
		margin: 2% 0% 2% 0%;
	  position: relative;
	}
	#reviews-list li p {
	  margin: 0 0 10px;
	}
	#restaurant-hours td {
	  color: #666;
	}


}



@media only screen and (max-width: 1000px) {
	#restaurants-list li {
		width: 33%;
		padding: 3% 5% 3% 5%;
	}
}



@media only screen and (max-width: 1280px) {

	#maincontent {
	  background-color: #f3f3f3;
	  min-height: 100%;
	}
	#footer {
	  background-color: #444;
	  color: #aaa;
	  font-size: 8pt;
	  letter-spacing: 1px;
	  padding: 2% 0% 2% 0%;
	  text-align: center;
	  text-transform: uppercase;
	}
	/* ====================== Navigation ====================== */
	nav {
	  width: 100%;
	  height: 60px;
	  background-color: #383838;
	  text-align:center;
	}
	nav h1 {
	  margin: auto;
	}
	nav h1 a {
	  color: #fff;
	  font-size: 14pt;
	  font-weight: 200;
	  letter-spacing: 10px;
	  text-transform: uppercase;
	}
	#breadcrumb {
	    padding: 10px 40px 16px;
	    list-style: none;
	    background-color: #eee;
	    font-size: 17px;
	    margin: 0;
	    width: calc(50% - 80px);
	}

	/* Display list items side by side */
	#breadcrumb li {
	    display: inline;
	}

	/* Add a slash symbol (/) before/behind each list item */
	#breadcrumb li+li:before {
	    padding: 8px;
	    color: black;
	    content: "/\00a0";
	}

	/* Add a color to all links inside the list */
	#breadcrumb li a {
	    color: #0275d8;
	    text-decoration: none;
	}

	/* Add a color on mouse-over */
	#breadcrumb li a:hover {
	    color: #01447e;
	    text-decoration: underline;
	}
	/* ====================== Map ====================== */
	#map {
	  height: 400px;
	  width: 100%;
	  background-color: #ccc;
	}
	/* ====================== Restaurant Filtering ====================== */
	#filter-section {
		display: flex;
		justify-content: center;
	}

	.filter-options {
	  width: 100%;
	  height: 70px;
	  background-color: #383838;
	  align-items: center;
		padding: 2% 0% 2% 0%;
	}
	.filter-options h2 {
		text-align: center;
	  color: white;
	  font-size: 1rem;
	  font-weight: normal;
	}
	.filter-options select {
	  background-color: white;
	  border: 1px solid #fff;
	  font-family: Arial,sans-serif;
	  font-size: 11pt;
	  height: 35px;
	  letter-spacing: 0;
	  margin: 0% 2% 0% 2%;
	  padding: 0 10px;
	  width: 200px;
	}

	/* ====================== Restaurant Listing ====================== */
	#restaurants-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	  background-color: #f3f3f3;
	  list-style: outside none none;
	  margin: 0;
	  padding: 5% 5% 5% 5%;
	  text-align: center;
	}
	#restaurants-list li {
	  background-color: #fff;
		border-radius: 3%;
		box-shadow: 3px 3px 15px lightgrey;
	  font-family: Arial,sans-serif;
	  margin: 3% auto 3% auto;
	  min-height: 380px;
	  padding: 3% 3% 3% 3%;
	  text-align: left;
	  width: 23%;
	}
	#restaurants-list .restaurant-img {
	  background-color: #ccc;
	  display: block;
	  margin: 0;
	  max-width: 100%;
	  min-height: 248px;
	  min-width: 100%;
		object-fit: cover;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	  filter: grayscale(40%);
	}
	#restaurants-list li h1 {
	  color: #383838;
	  font-family: Arial,sans-serif;
	  font-size: 14pt;
	  font-weight: 200;
	  letter-spacing: 0;
	  line-height: 1.3;
	  margin: 20px 0 10px;
	  text-transform: uppercase;
	}
	#restaurants-list p {
	  margin: 0;
	  font-size: 11pt;
	}
	#restaurants-list li a {
	  background-color: #444444;
		box-shadow: 5px 5px 10px #efefef;
		border-radius: 20px;
	  color: #fff;
	  display: inline-block;
	  font-size: 10pt;
	  margin: 15px 0 0;
	  padding: 4% 13% 4% 13%;
	  text-align: center;
	  text-decoration: none;
	  text-transform: uppercase;
	}

	#restaurants-list li a:hover {
		background-color: #a5514a;
	}

	/* ====================== Restaurant Details ====================== */
	.inside header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 100%;
	  position: fixed;
	  right: 0;
	  top: 0px;
	  width: 50%;
	}
	.inside #map {
	  background-color: #ccc;
	  height: 100%;
	  width: 100%;
	}
	.inside #footer {
	  bottom: 0;
	  position: absolute;
	  width: 50%;
	}
	#restaurant-name {
	  color: #383838;
	  font-family: Arial,sans-serif;
	  font-size: 20pt;
	  font-weight: 200;
	  letter-spacing: 0;
	  margin: 15px 0 30px;
	  text-transform: uppercase;
	  line-height: 1.1;
	}
	#restaurant-img {
		width: 90%;
	}
	#restaurant-address {
	  font-size: 12pt;
	  margin: 10px 0px;
	}
	#restaurant-cuisine {
	  background-color: #333;
	  color: #ddd;
	  font-size: 12pt;
	  font-weight: 300;
	  letter-spacing: 10px;
	  margin: 0 0 20px;
	  padding: 2px 0;
	  text-align: center;
	  text-transform: uppercase;
		width: 90%;
	}
	#restaurant-container, #reviews-container {
	  border-bottom: 1px solid #d9d9d9;
	  border-top: 1px solid #fff;
	  padding: 12% 0px 30px 0px;
	  width: 50%;
	}
	#reviews-container {
	  padding: 2% 0px 30px 0px;
	}
	#reviews-container h2 {
	  color: #a5514a;
	  font-size: 24pt;
	  font-weight: 300;
	  letter-spacing: -1px;
	  padding-bottom: 1pt;
	}
	#reviews-list {
	  margin: 0;
	  padding: 0;
		width: 90%;
	}
	#reviews-list li {
	  background-color: #fff;
	  border: 2px solid #f3f3f3;
	  display: block;
	  list-style-type: none;
	  overflow: hidden;
	  padding: 5% 5% 5% 5%;
		margin: 2% 0% 2% 0%;
	  position: relative;
	}
	#reviews-list li p {
	  margin: 0 0 10px;
	}
	#restaurant-hours td {
	  color: #666;
	}
};
